* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(99, 158, 248);
    background-image: url("../img/pattern.png");
    background-size: 450px;
    padding: 20px;
    margin-bottom: 10px;
}

.logo {
    width: 250px;
    margin-top: 20px;
}
